#header img {
    margin-top: -70px;
    margin-bottom: 20px;
}
#header h3 {
    font-size: 25px;
    text-align: center;
    margin-top: -20px;
}
.form-group input {
    font-family: comfortaar, FontAwesome;
}
#header li {
    color: white;
    font-family: comfortaar;
    text-align: left;
    font-size: 13px;
}
#header label {
    color: white;
    font-family: comfortaar
}
.checkbox {
    font-family: comfortaa;
    color: white;
}

